#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.date {
  color: rgb(255, 255, 255);
  text-shadow: 1px 2px 2px black;
  font-weight: bold;
  border: 1px solid white;
  height: 50px;
  background-color: rgba(194, 194, 194, 0.5);
}
.date p {
  line-height: 0;
}
.noDate {
  color: white;
  border: 1px solid white;
  height: 50px;
  background-color: rgba(180, 180, 180, 0.25);
}
.day-title {
  color: white;
  border: 1px solid white;
  height: 50px;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.65);
}
.vertical-rule {
  height: 327px;
  border-left: 1px solid white;
  border-right: 1px solid white;
}
.year {
  margin: -2.5em 0 0 0;
  text-shadow: 1px 1px 2px black;
  font-weight: 800;
}
.month {
  border: 1px solid white;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.75);
}
.iterate-month {
  border: 1px solid white;
  align-self: flex-start;
  margin: auto;
  background: rgba(0, 0, 0, 0.65);
  margin: auto 2em;
}
/* .spacer-div {
  width: 5px;
  background-color: white;
  height: 100%;
} */
.title {
  padding-bottom: 1.5em;
  text-shadow: 1px 1px 1px black;
}
@media screen and (min-width: 500px) {
  .iterate-month-sm {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .medium-screen {
    display: none;
  }
  /* .small-screen {
    display: none;
  } */
  .iterate-month {
    font-size: 1rem;
    margin: 1em;
    display: none;
  }
  .iterate-month-sm {
    margin: 0.5em;
  }
  .title {
    font-size: 2rem;
    margin-top: 2em;
  }
  .title {
    margin-top: 0.5em;
    padding-bottom: 3em;
  }
  .spacer-div {
    display: none;
  }
}
