#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  max-height: 100vh;
}
button:disabled {
  background-color: rgba(0, 0, 0, 0.5);
}

.slideMonth {
  animation-duration: 0.35s;
  animation-name: slideinto;
  position: relative;
}
.slideMonthLong {
  animation-timing-function: smooth;
  animation-duration: 2s;
  animation-name: slideinto;
  position: relative;
}
@keyframes slideinto {
  from {
    padding-left: 121px;
    margin-right: -121px;
  }
  to {
  }
}
.slideMonthReverse {
  animation-duration: 0.35s;
  animation-name: slideintoReverse;
  position: relative;
}
@keyframes slideintoReverse {
  from {
    padding-right: 121px;
    margin-left: -121px;
    /* opacity: 0; */
  }
  to {
  }
}

.container {
  padding: 0.5em;
  background-color: #d6ebf7;
  /* background-color: white; */
  border-radius: 10px;
  border: 1px solid black;
  overflow: hidden;
  max-width: 600px;
  box-shadow: 0px 2px 10px rgb(0, 0, 0);
}

.date {
  /* text-shadow: 1px 2px 2px black; */
  color: black;
  font-weight: bold;
  border: 1px solid black;
  height: 50px;
  /* background-color: #cdf5fd; */
  background-color: white;
}

.date h3 {
  line-height: 0;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.75);
}

.oldDay {
  color: rgba(0, 0, 0, 0);
  font-weight: bold;
  border: 1px solid black;
  height: 50px;
  background-color: #fcd3d3b1;
}
.noDate {
  border: 1px solid black;
  height: 50px;
  /* background-color: rgba(0, 0, 0, 0); */
  background-color: white;
}
.day-title {
  border: 1px solid black;
  margin: 0;
  /* background-color: #00a9ff; */
  background-color: #00a9ff;
  color: #ffffff;
  /* text-shadow: 1px 1px 1px black; */
  font-weight: 800;
}

.vertical-rule {
  height: 327px;
  border-left: 1px solid white;
  border-right: 1px solid white;
}
.year {
  font-weight: 800;
  border: 1px solid black;
  margin: 0;
  /* background-color: #00a9ff; */
  /* text-shadow: 1px 1px 1px black; */
  background-color: #00a9ff;
  color: #ffffff;
  font-weight: 800;
}
.month {
  border: 1px solid black;
  margin: 0;
  color: rgba(0, 0, 0, 0.75);
  /* background-color: #cdf5fd; */
  background-color: white;
}
.iterate-month,
.iterate-month-sm {
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 0px 2px 5px black;
  align-self: flex-start;
  margin: auto;
  background: #00a9ff;
  margin: auto 2em;
  font-weight: 900;
  color: #ffffff;
  /* text-shadow: 1px 1px 1px black; */
}
/* .spacer-div {
  width: 5px;
  background-color: white;
  height: 100%;
} */
.title {
  text-shadow: 1px 1px 1px black;
  /* color: #00a9ff; */
  color: #00a9ff;
}
@media screen and (min-width: 500px) {
  .iterate-month-sm {
    display: none;
  }
  .hide-bg {
    display: none;
  }
  .title {
    margin-bottom: 1em;
  }
}
@media screen and (max-width: 500px) {
  .medium-screen {
    display: none;
  }
  .hide-sm {
    display: none;
  }
  /* .small-screen {
    display: none;
  } */
  .iterate-month {
    font-size: 1rem;
    margin: 1em;
    display: none;
  }
  .iterate-month-sm {
    margin: 0 1.5em;
  }
  .title {
    /* font-size: 2rem; */
    /* margin-top: 2.5em; */
    margin-bottom: 0.5em;
    padding: 0;
  }
  .container {
    max-width: 359px;
  }
}
